.DS_Store
/index.php
wp-admin/
wp-content/index.php
wp-content/plugins/
wp-content/themes/index.php
wp-content/themes/twentyfifteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentysixteen/
#### parent theme ####
# turn off when working on it and turn back on before committing
wp-content/themes/wp-bootstrap-4/
#### parent theme ####
wp-content/upgrade/
wp-content/uploads/
wp-includes/
.htaccess
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
